<div class="modal">
    <ion-header-bar>
      <h1 class="title" ng-show="modal_state ==0">Tags</h1>
      <h1 class="title" ng-show="modal_state ==1">Add Tag</h1>
      <h1 class="title" ng-show="modal_state ==2">Create Tag</h1>
    </ion-header-bar>


    <ion-content ng-show="modal_state ==0">
      <ion-list>
        <ion-item ng-repeat="tag in picture.tags">
          {{tag}}
          <ion-option-button class="button-assertive ion-close"
                   ng-click="removeTag(tag)">
          </ion-option-button>
        </ion-item>
      </ion-list>
    </ion-content>

    <ion-content ng-show="modal_state==1">
      <p ng-show="!(survey.tags| filter:filterTags).length">Error - no other tags to create.  Make some more or something maybe?</p>
      <ion-item ng-repeat="tag in survey.tags | filter:filterTags" ng-click="addTag(tag); showPictureTagsModal();">
          {{tag}}
        </ion-item>
    </ion-content>

    <ion-content ng-show="modal_state==2">
        <label class="card item-input">
          <span class="input-label">Tag Name</span>
          <input type="text" ng-model="new_tag.text" placeholder="Type a tag"></input>
        </label>
        <div class="card">
          <!--<h3>Tag Type</h3>-->
          <div class="item item-divider">
            Tag Type
          </div>
          <!--<ul class="list">
            <li class="item"  ng-repeat="prefix in tag_types">
              <label>
                <input type="radio" name="pageSet" ng-model="tag_prefix" />{{prefix}}
              </label>
            </li>
          </ul>-->
          <ion-radio ng-repeat="item in tag_types"
                   ng-value="item"
                   type="card"
                   ng-model="new_tag.prefix">
          {{ item }}
        </ion-radio>

        </div>
        
    </ion-content>


    <ion-footer-bar class="tall-footer" ng-show="modal_state ==0">
      <div class="buttons col-50">
        <button class="button-block button button-balanced " ng-click="showSurveyTagsModal()">Add
        </button>
      </div>
      <div class="buttons col-50">
        <button class="button-block button button-positive " ng-click="closeTagModal()">Done
        </button>
      </div>
    </ion-footer-bar>

    <ion-footer-bar class="tall-footer" ng-show="modal_state ==1">
      <div class="buttons col-50">
        <button class="button-block button button-balanced " ng-click="showNewTagModal()">New
        </button>
      </div>
      <div class="buttons col-50">
        <button class="button-block button button-positive " ng-click="showPictureTagsModal()">Back
        </button>
      </div>
    </ion-footer-bar>

    <ion-footer-bar class="tall-footer" ng-show="modal_state==2">
      <div class="buttons col-50">
        <button ng-disabled="{{new_tag.text}}" class="button-block button button-balanced " ng-click="createTag(new_tag.prefix, new_tag.text); closeTagModal();">Create
        </button>
      </div>
      <div class="buttons col-50">
        <button class="button-block button button-positive " ng-click="showSurveyTagsModal()">Back
        </button>
      </div>
    </ion-footer-bar>
  </div>