
<ion-view view-title="">
  <ion-content class="">
    <div class="list card">
      <div class="item">
        <h3>Tags:</h3>

        <p style="white-space: normal"><span ng-repeat="tag in picture.tags">{{tag}}{{$last ? '' : ' / '}}</span></p>

      </div>

      <div class="item item-image">
        <img src="{{picture.uri}}">
      </div>

      <div class="item"><textarea placeholder="Description" style="width: 100%; resize: none;" ng-model="picture.description"></textarea></div>

    </div>

  </ion-content>
  <ion-footer-bar class="tall-footer">
      <div class="bar button bar-balanced " ng-click="openTagModal()">
          <h1 class=" title ">Manage Tags</h1>
      </div>
  </ion-footer-bar>


</ion-view>
