<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="Survey View">
  <!--<ion-header-bar class="bar-subheader" align-title="right">
  <button class="button" style="float:right;" ng-click="manageTags()">Manage Tags</button>
    <span>
      <span style="font-weight: bold; white-space: normal;">Active Tags:  </span>
      <span ng-repeat="tag in survey.active_tags">{{tag}}{{$last ? '' : ' / '}}</span>
    </span>
  </ion-header-bar>-->
  <ion-content class="">
    <div class="list card">
      <div class="item">
        <button class="button" style="float:right;" ng-click="manageTags()">Manage Tags</button>
         <h3>Active Tags:</h3>

         <p style="white-space: normal"><span ng-repeat="tag in survey.tags()">{{tag}}{{$last ? '' : ' / '}}</span></p>
      </div>
    </div>
    <ion-list>
      <ion-item ng-repeat="picture in survey.pictures()" class="item-remove-animate item-thumbnail-left size-96" type="item-text-wrap" href="#/tab/survey/{{surveyId}}/{{$index}}">
      <img ng-src="{{picture.uri}}" >
      <p>{{picture.description()}}</p>
      <p>Tags: <span ng-repeat="tag in picture.tags()">{{tag}}{{$last ? '' : ', '}}</span></p>
      </ion-item>
    </ion-list>
  </ion-content>

  <ion-footer-bar  class="tall-footer">
    <button ng-click="getPicture()"
      class="button text-center col-50  button-balanced button-large ">
          <i class="icon ion-camera"></i>  Take Picture
    </button>
    <button ng-click="getExistingPicture()"
      class="button text-center col-50  button-balanced button-large ">
        <i class="icon ion-document"></i>   Add Picture
    </button>
    <br/>
    <!--<div class="bar bar-footer bar-balanced">
      <div class="title">Footer</div>
    </div>-->
  </ion-footer-bar>


</ion-view>
