<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="WOOT">
  <ion-content class="">
    <ion-list>
      <ion-item ng-repeat="picture in survey.pictures" class="item-remove-animate item-avatar item-icon-right size-96" type="item-text-wrap" href="#/tab/survey/{{projectId}}/{{survey.id}}/{{picture.id}}">
      <img ng-src="{{picture.uri}}" style="max-width: 100%">
      <p>Thing</p>
      </ion-item>
    </ion-list>
  </ion-content>

  <ion-footer-bar>
    <button ng-click="getPhoto()"
      class="button text-center col-50  button-balanced button-large icon-center ion-plus-round">
        Take Picture
    </button>
    <button ng-click=""
      class="button text-center col-50  button-balanced button-large icon-center ion-plus-round">
        Add Picture From Device
    </button>
    <br/>
    <!--<div class="bar bar-footer bar-balanced">
      <div class="title">Footer</div>
    </div>-->
  </ion-footer-bar>


</ion-view>
