<ion-view view-title="Projects">

  <ion-content class="padding">

    <div class="list list-inset">
      <label class="item item-input">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="text" placeholder="Search">
      </label>
    </div>
    <div class="list list-inset">
      <label class="item item-input item-select">
      <div class="input-label">
        Project Status
      </div>
      <select>
        <option>All</option>
        <option selected>Active</option>
        <option>Abandoned</option>
      </select>
    </label>
    </div>



    




    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" type="item-text-wrap" href="#/tab/dash/1">
        <h2>Demo Project 1</h2>
        <p>0thx1138</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
      <ion-item class="item-remove-animate item-avatar item-icon-right" type="item-text-wrap" href="#/tab/dash/1">
        <h2>Demo Project 2</h2>
        <p>0thx1139</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
    </ion-list>

  </ion-content>
</ion-view>
